.mintButton {
    animation: switchRot 0.9s infinite;
}

@keyframes switchRot {
    0% { background-image: url(../../public/smint1.png); }
    49% { background-image: url(../../public/smint1.png); }
    50% { background-image: url(../../public/smint2.png); }
    100% { background-image: url(../../public/smint2.png); }
}