pre {
    animation: color-change 90s infinite;
}

@keyframes color-change {
    0% { color: #C21DA2; }
    1% { color: #B0CA7E; }
    2% { color: #FC14A5; }
    3% { color: #514939; }
    4% { color: #CD4F9F; }
    5% { color: #0F43CE; }
    6% { color: #517895; }
    7% { color: #94F1AF; }
    8% { color: #98A3D5; }
    9% { color: #97CF41; }
    10% { color: #BFA33C; }
    11% { color: #8F4830; }
    12% { color: #FA1A72; }
    13% { color: #E61857; }
    14% { color: #176E4C; }
    15% { color: #EA501B; }
    16% { color: #4876FE; }
    17% { color: #B9ED8E; }
    18% { color: #046697; }
    19% { color: #6D88E6; }
    20% { color: #4D7330; }
    21% { color: #319DE9; }
    22% { color: #C425AF; }
    23% { color: #C4A7BC; }
    24% { color: #92F537; }
    25% { color: #26F3B3; }
    26% { color: #A995FD; }
    27% { color: #E83E47; }
    28% { color: #DE2E6C; }
    29% { color: #65B2E8; }
    30% { color: #E6470F; }
    31% { color: #4E72A0; }
    32% { color: #2E8A17; }
    33% { color: #E5BC7A; }
    34% { color: #240130; }
    35% { color: #4B6F3E; }
    36% { color: #B02DA6; }
    37% { color: #91D773; }
    38% { color: #8172F4; }
    39% { color: #EB8543; }
    40% { color: #1C0BAD; }
    41% { color: #5BBEDF; }
    42% { color: #4B8C76; }
    43% { color: #D8D1AF; }
    44% { color: #418C7D; }
    45% { color: #CE5B0B; }
    46% { color: #CC14D0; }
    47% { color: #8D99CD; }
    48% { color: #02310A; }
    49% { color: #1C7488; }
    50% { color: #9F49D6; }
    51% { color: #27BC87; }
    52% { color: #73AE4F; }
    53% { color: #268A3A; }
    54% { color: #64B50A; }
    55% { color: #6E6856; }
    56% { color: #ED2A25; }
    57% { color: #9D969D; }
    58% { color: #7AB7E7; }
    59% { color: #37F559; }
    60% { color: #9A50BE; }
    61% { color: #CD47E7; }
    62% { color: #290032; }
    63% { color: #12C2EA; }
    64% { color: #BB6207; }
    65% { color: #7A3BC4; }
    66% { color: #2EEC1A; }
    67% { color: #13C76E; }
    68% { color: #0CC0A0; }
    69% { color: #6602DA; }
    70% { color: #155C00; }
    71% { color: #CBCC90; }
    72% { color: #94B80F; }
    73% { color: #B1D769; }
    74% { color: #A29A7C; }
    75% { color: #F2961F; }
    76% { color: #16949D; }
    77% { color: #61050A; }
    78% { color: #876C01; }
    79% { color: #97BAF3; }
    80% { color: #900B53; }
    81% { color: #A4207E; }
    82% { color: #07A991; }
    83% { color: #48DB33; }
    84% { color: #619ED6; }
    85% { color: #FA0A18; }
    86% { color: #348B31; }
    87% { color: #B2548E; }
    88% { color: #DF27F2; }
    89% { color: #47C69C; }
    90% { color: #49E1A8; }
    91% { color: #DC8B24; }
    92% { color: #3C4BC8; }
    93% { color: #DBD037; }
    94% { color: #136E49; }
    95% { color: #F12A28; }
    96% { color: #6C8D68; }
    97% { color: #3A6C23; }
    98% { color: #79FCF1; }
    99% { color: #72E750; }
}